/**
 * Layout Customization CSS
 */

ul.pagination {
    margin: 5px 0;
}

ul.list-group li.list-group-item.active {
    background: #EEE;
    font-weight: bold;
}

.wp-theme-3 a.btn-primary,
.wp-theme-3 a.btn-success,
.wp-theme-3 a.btn-warning,
.wp-theme-3 a.btn-danger {
    color: #FFF;
}

.icon-feature {
    font-size: 68px;
    text-align: center;
    display: block;
}

div.buttons {
    margin-bottom: 10px;
}

textarea.full-height {
    height: 200px;
}
textarea.half-height {
    height: 100px;
}