<?
$this->headTitle('Manage Resource Types');
?>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'fa-plus',
        'class'     => 'large success',
        'text'      => 'Add New Resource Type',
        'href'      => $this->routeFromHere(array('action' => 'edit', 'page' => NULL)),
    )) ?>
</div>

<h3 class="section-title">Current Resource Types</h3>

<table class="datatable table-condensed zebra">
    <colgroup>
        <col width="25%" />
        <col width="75%" />
    </colgroup>
    <thead>
    <tr>
        <th>Actions</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <? foreach($this->categories as $record): ?>
        <tr>
            <td align="center">
                <div class="btn-group">
                    <?=$this->button(array(
                        'type'		=> 'small',
                        'class'     => 'btn-warning',
                        'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $record->id)),
                        'icon'		=> 'fa-pencil',
                        'text'		=> 'Edit',
                    )) ?>
                    <?=$this->button(array(
                        'type'		=> 'small',
                        'href'		=> $this->routeFromHere(array('action' => 'delete', 'id' => $record->id)),
                        'class'     => 'danger confirm-action',
                        'text'		=> 'Delete',
                    )) ?>
                </div>
            </td>
            <td align="left">
                <big><?=$record->name ?></big>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>