<?php $this->headTitle(ucwords($this->message)); ?>

<h3>About the Error</h3>
<dl>
	<dt>Message:</dt>
	<dd><?php print $this->exception->getMessage(); ?></dd>
</dl>

<h3>Stack trace</h3>

<div class="table-responsive">
    <table class="datatable table-striped table-compact" width="100%">
        <thead>
            <tr>
                <th class="nobg"></th>
                <th>Line</th>
                <th>File</th>
                <th>Function</th>
            </tr>
        </thead>
        <tbody>
        <?php foreach( $this->exception->getTrace() as $i => $trace ): ?>
            <tr style="vertical-align: top;">
                <th scope="row"><?php print $i; ?></th>
                <td align="right"><?php print isset($trace['line']) ? $trace['line'] : "" ?></td>
                <td><?php print $trace['file']; ?></td>
                <td>
                    <code>
                    <?php
                        $args = array();
                        if( isset($trace['args']) )
                        {
                            foreach( $trace['args'] as $arg )
                            {
                                $args[] = gettype($arg);
                            }
                        }

                        print sprintf("%s%s%s%s",
                            isset($trace['class']) ? $trace['class'] : "",
                            isset($trace['type']) ? $trace['type'] : "",
                            isset($trace['function']) ? $trace['function'] : "",
                            isset($trace['args']) ? "(" . implode(", ", $args) . ")" : ""
                        );
                    ?>
                    </code>
                </td>
            </tr>
        <?php endforeach; ?>
            <tr>
                <th scope="row">
                    <?php print ++$i; ?>
                </th>
                <td colspan="3">
                    <em>{main}</em>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h3>Request Parameters</h3>
<dl>
<?php foreach( $this->request->getParams() as $key => $param ): ?>
	<dt>
		<?php print $key; ?>:
	</dt>
	<dd>
		<?php print $param; ?>
	</dd>
<?php endforeach; ?>
</dl>