<?php
$current_user = $this->auth->getLoggedInUser();
if ($current_user->id == $this->user->id)
	$this->headTitle('My Page');
else
	$this->headTitle('Report for '.$this->user->firstname.' '.$this->user->lastname);
?>

<div class="row">
	<div class="col-md-8">
        <h3 class="section-title">Individual Log Items</h3>

        <table class="datatable zebra" width="100%">
            <colgroup>
                <col width="60%">
                <col width="25%">
                <col width="15%">
            </colgroup>
            <thead>
                <tr>
                    <th>Resource</th>
                    <th>Date Accessed</th>
                    <th>Hrs:Mins</th>
                </tr>
            </thead>
            <tbody>
            <? foreach($this->logs as $log): ?>
                <tr class="input">
                    <td><a href="<?=$this->route(array('controller' => 'resources', 'action' => 'view', 'id' => $log->resource->id)) ?>"><?=$log->resource->title ?></a></td>
                    <td><?=$log->created_at->format('m/d/Y g:ia') ?></td>
                    <td><?=gmdate('G:i', $log->seconds) ?></td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
	</div>
	<div class="col-md-4">
        <h3 class="section-title">Total Time on Site</h3>

        <p>Across all modules on this site, you have spent the total time of (hours:minutes):</p>

        <div class="well">
            <big><?=gmdate('G:i', $this->time_total) ?></big>
        </div>

        <hr>
        <h3 class="section-title">Time Per Category</h3>

        <table class="table table-striped table-condensed" width="100%">
            <colgroup>
                <col width="20%">
                <col width="80%">
            </colgroup>
            <tbody>
            <? foreach($this->categories as $cat): ?>
                <tr class="input">
                    <td style="text-align: right;"><?=gmdate('G:i', (int)$this->time_per_category[$cat['id']]) ?></td>
                    <td><?=$cat['name'] ?></td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
	</div>
</div>