@charset "utf-8";

@import url("df-ui.css");
@import url("df-ui-responsive.css");

html {
	background: #FFF url('./layout/paper.png') top left repeat;
}
body {
	background: transparent;
}

h1.title {
	padding: 0 0 15px 20px;
}

a {
  color: #990000;
}
a:hover {
  color: #CC0000;
}

#header-wrapper {
	background: url('layout/header_bottom.jpg') center center repeat-x;
}
#header {
	width: 980px;
	margin: 0px auto;
	height: 200px;
	background: url('layout/header_top.png') center center no-repeat;
	position: relative;
}
#header a {
	color: #EFEFEF;
	text-decoration: none;
}

#logo-title-site {
  position: absolute;
  top: 0;
  left: 0;
}
#logo-title-site,
#logo-title-site img {
	width: 980px;
  height: 200px;
}

.navbar-wrapper .navbar-inner {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

div#content_top_wrapper {
	background: #EFEFEF;
	border-bottom: 1px solid #CCC;
}
div#content_top {
	color: #888;
	width: 940px;
	margin: 0px auto;
	padding: 10px 0 3px 0;
}

div#page_wrapper {
	margin-top: 20px;
}

div#breadcrumb {
	font-size: smaller;
	padding: 0 20px 0px 20px;
}

div#copyright {
	margin-top: 10px;
	text-align: center;
}

/**
 * Dark Background Support

div#breadcrumb,
div#content > h1.title,
div#copyright {
	text-shadow: 1px 1px 0px #000;
	color: #EEE;
}

div#breadcrumb a,
div#content > h1.title a,
div#copyright a {
	color: #CCCCCC;
}

div.floating {
	-webkit-box-shadow:0 0 15px #000; 
	-moz-box-shadow: 0 0 15px #000; 
	box-shadow:0 0 15px #000; 
}

*/

/**
 * Special Site Areas
 */

div.announcement {
	padding: 0px;
}
div.announcement h3 {
	padding-top: 5px;
	line-height: 25px;
}
div.announcement h3 span {
	vertical-align: top;
}

div#content_tabs {
	padding: 0 15px;
	margin-top: -10px;
}
div#content_tabs ul {
	margin-bottom: 0;
	border-bottom: 0;
}
div#content_tabs .tabs > li > a {
	border-bottom: 0;
	z-index: 10000;
}

.tabs > li > a {
	background-color: #FAFAFA;
	border-bottom: 1px solid #DDD;
}