<!DOCTYPE HTML>
<HTML>
<HEAD>
	<TITLE><?=$this->record->title ?></TITLE>
</HEAD>

<FRAMESET rows="*, 40" frameborder="0">
	<FRAME src="<?=$this->record->url ?>">
	<FRAME src="<?=$this->routeFromHere(array('panel' => 'track')) ?>" noresize="noresize">
</FRAMESET>
</HTML>