<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
body {
	margin: 0px;
	background-color: #4269B5;
}
body, td, th, div {
	font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
}
</style>

<?php
$this->headScript()->prependFile(\DF\Url::cdn('jquery', '1'));
echo $this->headScript();
?>
</head>
<body>
<div style="padding: 8px; font-size: 20px; float: right;">Professional Development Tools</div>
<div id="time_elapsed" style="padding: 8px; font-size: 20px; font-weight: bold;">0:00</div>

<script type="text/javascript">
var timer;
var seconds_elapsed = 0;
var seconds_per_tick = 1;
var seconds_per_sync = 30;
var sync_url = '<?=$this->routeFromHere(array('panel' => 'sync', 'log_id' => $this->log->id)) ?>';

$(function() {
	timer = setInterval('tick()', seconds_per_tick*1000);
});

function tick()
{
	seconds_elapsed += seconds_per_tick;
	$('#time_elapsed').text(secondsToHms(seconds_elapsed));

	if (seconds_elapsed % seconds_per_sync == 0)
		sync();
}
function sync()
{
	$.get(sync_url, {'seconds': seconds_elapsed});
}

function secondsToHms(d) {
	d = Number(d);
	var h = Math.floor(d / 3600);
	var m = Math.floor(d % 3600 / 60);
	var s = Math.floor(d % 3600 % 60);
	return ((h > 0 ? h + ":" : "") + (m > 0 ? (h > 0 && m < 10 ? "0" : "") + m + ":" : "0:") + (s < 10 ? "0" : "") + s);
}
</script>
</body>
</html>