<?php
$this->headTitle('Search Resources');
?>

<h3 class="section-title">Enter Search Terms</h3>

<form action="<?=$this->routeFromHere() ?>" method="get" class="form-stacked df-form">
<div class="clearfix">
    <label for="q">Name, Keyword, or Description:</label>
    <input type="text" name="q" value="<?=$this->q ?>" class="full-width">
</div>

<?=$this->button(array(
    'type'		=> 'submit',
    'class'		=> 'primary',
    'text'		=> 'Search Resources',
)) ?>
</form>

<? if ($this->pager): ?>
    <hr>
    <h3 class="section-title">Search Results</h3>

    <?=$this->renderHere('resource-list') ?>
<? endif; ?>