<?
$this->headTitle('Manage Blocks');
?>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'href'		=> $this->routeFromHere(array('action' => 'edit')),
        'class'     => 'btn-lg btn-success',
		'icon'		=> 'fa-plus',
		'text'		=> 'Add Block',
	)) ?>
</div>

<table class="datatable zebra">
	<colgroup>
		<col width="30%" />
		<col width="25%" />
		<col width="45%" />
	</colgroup>
	<thead>
		<tr>
			<th>Actions</th>
			<th>Short Name</th>
			<th>Title</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->all_blocks as $block): ?>
		<tr>
			<td align="center">
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'find',
					'href'		=> $this->routeFromHere(array('action' => 'preview', 'id' => $block['id'])),
					'text'		=> 'Preview',
				)) ?>
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'pencil',
					'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $block['id'])),
					'text'		=> 'Edit',
				)) ?>
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'delete',
					'class'		=> 'negative confirm-delete',
					'href'		=> $this->routeFromHere(array('action' => 'delete', 'id' => $block['id'])),
					'text'		=> 'Delete',
				)) ?>
			</td>
			<td align="left"><?=$block['name'] ?></td>
			<td align="left"><?=$block['title'] ?></td>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>