<?
$this->headTitle('Welcome!');
$this->layout()->manual = TRUE;
?>

<section class="slice bg-2" id="homepage_blueprint_area" style="background: url('<?=\DF\Url::content('blueprint.jpg') ?>') center center no-repeat; background-size: cover;">
    <div class="w-section inverse">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h4><i class="fa fa-gear fa-3x"></i></h4>
                        <h2>Enhance Professional Growth &amp; Report Progress</h2>
                        <p>
                            Connect with new materials and activities to enhance professional growth.
                            <br>
                            Document and record your completed activities, and track your development.
                        </p>
                        <span class="clearfix"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice bg-5">
    <div class="w-section inverse">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="section-title">Search by Category</h3>

                    <ul>
                    <? foreach($this->categories as $cat_key => $cat_name): ?>
                        <? if (is_array($cat_name)): ?>
                            <li><?=$cat_key ?></li>
                            <ul>
                            <? foreach($cat_name as $subcat_id => $subcat_name): ?>
                                <li><a href="<?=$this->route(array('controller' => 'resources', 'action' => 'category', 'category' => $subcat_id)) ?>"><?=$subcat_name ?></a></li>
                            <? endforeach; ?>
                            </ul>
                        <? else: ?>
                            <li><a href="<?=$this->route(array('controller' => 'resources', 'action' => 'category', 'category' => $cat_key)) ?>"><?=$cat_name ?></a></li>
                        <? endif; ?>
                    <? endforeach; ?>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="section-title">Welcome!</h3>

                    <p>Professional Development Tools (PDT) supports education professionals in two critical ways:</p>
                    <ol type="1">
                        <li>PDT connects education professionals with up-to-date quality materials and activities to enhance professional growth.</li>
                        <li>PDT has an embedded documentation system for tracking your own personal professional growth.Professional Development Tools.</li>
                    </ol>

                    <hr>

                    <h3 class="section-title">Suggestions for Using This Site</h3>
                    <ul>
                        <li>Personal Learning</li>
                        <li>Collegial Discussions</li>
                        <li>Resources for School/District Improvement Plans</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="section-title">Newest Resources</h3>

                    <dl>
                        <? foreach($this->newest as $resource): ?>
                            <dt><a href="<?=$this->route(array('controller' => 'resources', 'action' => 'view', 'id' => $resource['id'])) ?>"><?=$resource['title'] ?></a></dt>
                            <dd class="text-muted"><?=$resource['author'] ?></dd>
                        <? endforeach; ?>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>