<?
$this->headTitle('Manage Permissions');
?>

<div class="row">
    <div class="col-md-6">
        <h3 class="section-title">Roles</h3>

        <div class="buttons">
            <?=$this->button(array(
                'type'		=> 'link',
                'class'		=> 'btn-large btn-success',
                'href'		=> $this->route(array('module' => 'admin', 'controller' => 'permissions', 'action' => 'editrole')),
                'icon'		=> 'fa-plus',
                'text'		=> 'Add Role',
            )) ?>
        </div>

        <table class="datatable zebra">
            <colgroup>
                <col width="40%" />
                <col width="60%" />
            </colgroup>
            <tbody>
            <? foreach($this->roles as $role): ?>
                <tr>
                    <td align="center">
                        <?=$this->button(array(
                            'type'		=> 'small',
                            'class'     => 'btn-primary',
                            'href'		=> $this->routeFromHere(array('action' => 'editrole', 'id' => $role['id'])),
                            'text'		=> 'Edit',
                        )) ?>
                    <? if( $role['id'] != 1 ): ?>
                        <?=$this->button(array(
                            'type'		=> 'small',
                            'class'		=> 'btn-danger confirm-delete',
                            'href'		=> $this->routeFromHere(array('action' => 'deleterole', 'id' => $role['id'])),
                            'text'		=> 'Delete',
                        )) ?>
                    <? else: ?>
                        <?=$this->button(array(
                            'type'		=> 'small',
                            'icon'		=> 'delete',
                            'class'		=> 'btn-danger btn-disabled',
                            'href'		=> 'javascript:;',
                            'onclick'	=> 'alert(\'This role is the super administrator and cannot be deleted.\'); return false;',
                            'text'		=> 'Delete',
                        )) ?>
                    <? endif; ?>
                    </td>
                    <td align="left"><?=$role['name'] ?></td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
	</div>
	<div class="col-md-6">
        <h3 class="section-title">Actions</h3>

        <div class="buttons">
            <?=$this->button(array(
                'type'		=> 'link',
                'class'		=> 'btn-large btn-success',
                'href'		=> $this->route(array('module' => 'admin', 'controller' => 'permissions', 'action' => 'editaction')),
                'icon'		=> 'fa-plus',
                'text'		=> 'Add Action',
            )) ?>
        </div>

        <table class="datatable zebra">
            <colgroup>
                <col width="40%" />
                <col width="60%" />
            </colgroup>
            <tbody>
            <? foreach($this->actions as $action): ?>
                <tr>
                    <td align="center">
                        <?=$this->button(array(
                            'type'		=> 'small',
                            'class'     => 'btn-primary',
                            'href'		=> $this->routeFromHere(array('action' => 'editaction', 'id' => $action['id'])),
                            'text'		=> 'Edit',
                        )) ?>
                        <?=$this->button(array(
                            'type'		=> 'small',
                            'class'		=> 'btn-danger confirm-delete',
                            'href'		=> $this->routeFromHere(array('action' => 'deleteaction', 'id' => $action['id'])),
                            'text'		=> 'Delete',
                        )) ?>
                    </td>
                    <td align="left"><?=$action['name'] ?></td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
	</div>
</div>