/**
 * DF jQuery Mobile Customizations
 */

dl {
	margin: 0;
}
dl dt {
	font-weight: bold;
	margin: 2px 0 0 0;
}
dl dd {
	margin: 2px 5px 7px 10px;
}

div#stuact_header {
	background: #32CD31;
	color: #FFF;
	text-shadow: 0 1px 0 #333;
	font-size: 12px;
	text-align: center;
	padding: 5px 0;
}

div#stuact_footer {
	font-size: 11px;
	text-align: center;
	margin: 0 5px 10px 5px;
}