<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <?php
    $title = current($this->headTitle()->getIterator());
    $this->headTitle($this->config->application->name);

    if (DF_APPLICATION_ENV != "production")
        $this->headTitle()->prepend('('.ucfirst(DF_APPLICATION_ENV).')');

    echo $this->headTitle()->setSeparator(" | ")->toString();

    $this->headLink()
        ->appendStylesheet(\DF\Url::content('boomerang/css/global-style.css'), 'all')
        ->appendStylesheet(\DF\Url::content('layout.css'), 'all');

    $this->headScript()
        ->prependFile(\DF\Url::content('boomerang/js/jquery.js'))
        ->appendFile(\DF\Url::content('boomerang/assets/bootstrap/js/bootstrap.min.js'))
        ->appendFile(\DF\Url::content('boomerang/js/modernizr.custom.js'))
        ->appendFile(\DF\Url::content('boomerang/js/jquery.mousewheel-3.0.6.pack.js'))
        ->appendFile(\DF\Url::content('boomerang/js/jquery.cookie.js'))
        ->appendFile(\DF\Url::content('boomerang/js/jquery.easing.js'))
        ->appendFile(\DF\Url::content('boomerang/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5'))
        ->appendFile(\DF\Url::content('layout.js'));

    echo $this->headMeta();
    echo $this->headLink();
    echo $this->headScript();

    if ($this->config->application->analytics_code)
        echo $this->analytics($this->config->application->analytics_code);
    ?>
    <script>
        var DF_ContentPath = '<?php echo \DF\Url::content(); ?>';
    </script>
</head>
<body class="wp-theme-3">

<div class="wrapper lw">
    <!-- Top Header -->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span class="aux-text hidden-xs">
                        Welcome to Professional Development Tools! <?=$this->mailto('info@professionaldevelopmenttools.com') ?>
                    </span>
                    <nav class="top-header-menu">
                        <ul class="menu">
                        <? if (\DF\Auth::getInstance()->isLoggedIn()): ?>
                            <? $user = \DF\Auth::getInstance()->getLoggedInUser(); ?>
                            <? if ($this->acl->isAllowed('administer all')): ?>
                            <li><a href="<?=$this->route(array('module' => 'admin')) ?>"><i class="fa fa-gear"></i> Administration</a></li>
                            <? endif; ?>
                            <li><a href="<?=$this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'logout')) ?>">Log Out (<?=$user->firstname ?> <?=$user->lastname ?>)</a></li>
                        <? else: ?>
                            <li><a href="<?=$this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'login')) ?>">Log In</a></li>
                            <li><a href="<?=$this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'signup')) ?>">Sign Up</a></li>
                        <? endif; ?>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Header: Logo and Main Nav -->
    <header>
        <div id="navOne" class="navbar navbar-wp" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle navbar-toggle-aside-menu">
                        <i class="fa fa-outdent icon-custom"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?=$this->route() ?>" title="Professional Development Tools">
                        <img src="<?=\DF\Url::content('logo.png') ?>" alt="Professional Development Tools">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="<?=$this->route() ?>">Home</a></li>
                        <li><a href="<?=$this->route(array('controller' => 'index', 'action' => 'about')) ?>">About Us</a></li>
                        <li><a href="<?=$this->route(array('controller' => 'index', 'action' => 'contact')) ?>">Contact Us</a></li>
                        <li><a href="<?=$this->route(array('controller' => 'report')) ?>">My Page</a></li>
                        <li class="dropdown animate-click" data-animate="animated fadeInUp" style="z-index:500;">
                            <a href="#" class="dropdown-toggle dropdown-form-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                            <ul class="dropdown-menu dropdown-menu-user animate-wr">
                                <li id="dropdownForm">
                                    <div class="dropdown-form">
                                        <form class="form-default form-inline p-15" action="<?=$this->route(array('controller' => 'resources', 'action' => 'search')) ?>" method="get">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="q" placeholder="Search by keyword or name">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-two" type="submit">Go!</button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </header>

    <? if ($this->layout()->manual): ?>
        <?php echo $this->layout()->content; ?>
    <? else: ?>
        <div class="pg-opt pin">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2><?=$title ?></h2>
                    </div>
                    <div class="col-md-6">
                        <?
                        $breadcrumb = $this->breadcrumb()->setSeparator('</li><li>')->render();
                        if ($breadcrumb)
                        {
                            echo '<ol class="breadcrumb">';
                            echo '<li><a href="'.\DF\Url::baseUrl().'">'.$this->config->application->name.'</a></li>';
                            echo '<li>'.$breadcrumb.'</li>';
                            echo '</ol>';
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>

        <section class="slice bg-3">
            <div class="w-section">
                <div class="container">
                    <?
                    if (\DF\Flash::hasMessages()):
                        $messages = \DF\Flash::getMessages();
                        foreach($messages as $message):
                            ?>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert-message messages <?=$message['color'] ?>" data-alert="alert">
                                        <?=$message['message'] ?>
                                    </div>
                                </div>
                            </div>
                        <?
                        endforeach;
                    endif;
                    ?>

                    <div class="row">
                        <div class="col-md-12">
                            <?php echo $this->layout()->content; ?>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <? endif; ?>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 copyright">
                    Professional Development Tools Copyright &copy;2011-<?=date('Y') ?>. All rights reserved.
                </div>
                <div class="col-lg-3 footer-logo"></div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>