<?
$this->headTitle('Manage Resources');
?>

<h3 class="section-title">Find a Resource</h3>

<form action="<?=$this->routeFromHere(array('page' => NULL)) ?>" method="get" class="form-stacked df-form">
<div class="clearfix">
    <label for="q">Search terms:</label>
    <input type="text" name="q" value="<?=$this->q ?>" class="full-width big" />
</div>

<?=$this->button(array(
    'type'		=> 'submit',
    'icon'		=> 'find',
    'text'		=> 'Search Resources',
)) ?>
</form>

<hr>

<? if ($this->q): ?>
<h3 class="section-title">Search Results for: <?=$this->q ?></h3>
<? else: ?>
<h3 class="section-title">View All Resources</h3>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'fa-plus',
        'class'     => 'large success',
        'text'      => 'Add New Resource',
        'href'      => $this->routeFromHere(array('action' => 'edit', 'page' => NULL)),
    )) ?>
</div>
<? endif; ?>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra">
    <colgroup>
        <col width="25%" />
        <col width="75%" />
    </colgroup>
    <thead>
        <tr>
            <th>Actions</th>
            <th>Category Name</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->pager as $record): ?>
        <tr>
            <td align="center">
                <div class="btn-group">
                    <?=$this->button(array(
                        'type'		=> 'small',
                        'class'     => 'btn-primary',
                        'href'		=> $this->route(array('controller' => 'resources', 'action' => 'view', 'id' => $record->id)),
                        'target'    => '_blank',
                        'text'		=> 'View',
                    )) ?>
                    <?=$this->button(array(
                        'type'		=> 'small',
                        'class'     => 'btn-warning',
                        'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $record->id)),
                        'icon'		=> 'fa-pencil',
                        'text'		=> 'Edit',
                    )) ?>
                    <?=$this->button(array(
                        'type'		=> 'small',
                        'href'		=> $this->routeFromHere(array('action' => 'delete', 'id' => $record->id)),
                        'class'     => 'danger confirm-action',
                        'text'		=> 'Delete',
                    )) ?>
                </div>
            </td>
            <td align="left">
                <big><?=$record->title ?></big><br>
                <?=$record->author ?>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>

<?=$this->paginate($this->pager) ?>