<?
$this->headTitle('Manage Users');
?>

<h3 class="section-title">Search Users</h3>

<form action="<?=$this->routeFromHere(array('page' => NULL)) ?>" method="get" class="form-stacked df-form">
<div class="clearfix">
    <label for="q">Search terms:</label>
    <input type="text" name="q" value="<?=$this->q ?>" class="full-width big" />
</div>

<?=$this->button(array(
    'type'		=> 'submit',
    'icon'		=> 'find',
    'text'		=> 'Search Users',
)) ?>
</form>

<hr>
<? if ($this->q): ?>
<h3 class="section-title">Search Results for: <?=$this->q ?></h3>
<? else: ?>
<h3 class="section-title">View All Users</h3>
<? endif; ?>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra">
    <colgroup>
        <col width="25%" />
        <col width="30%" />
        <col width="25%" />
        <col width="20%" />
    </colgroup>
    <thead>
        <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->pager as $user): ?>
        <tr>
            <td align="center">
                <?=$this->button(array(
                    'type'		=> 'small',
                    'href'		=> $this->route(array('module' => 'admin', 'controller' => 'users', 'action' => 'edit', 'id' => $user->id)),
                    'icon'		=> 'pencil',
                    'text'		=> 'Edit',
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'href'      => $this->route(array('module' => 'default', 'controller' => 'report', 'action' => 'index', 'user_id' => $user->id)),
                    'icon'      => 'table',
                    'text'      => 'Report',
                )) ?>
                <?=$this->button(array(
                    'type'		=> 'small',
                    'href'		=> $this->route(array('module' => 'admin', 'controller' => 'users', 'action' => 'delete', 'id' => $user->id)),
                    'icon'		=> 'delete',
                    'class'     => 'danger confirm-action',
                    'text'		=> 'Delete',
                )) ?>
            </td>
            <td align="left"><?=$user->lastname ?>, <?=$user->firstname ?></td>
            <td align="center"><?=$user->email ?></td>
            <td align="left">
                <?
                $user_roles = array();
                if ($user->roles)
                {
                    foreach($user->roles as $role)
                    {
                        $user_roles[] = $role->name;
                    }
                }
                echo implode(', ', $user_roles);
                ?>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>

<?=$this->paginate($this->pager) ?>